<h1>Question</h1>
<div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <%=  @question.inquire %>
            </div>
    </div>
</div>

<%= form_for Answer.new, :html => { :id => "question_form" } do |f| %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :question_id, @question.id %>

    <%= f.submit 'true' %>
    <%= f.submit 'false' %>

<footer class="footer">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">       
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <div class="btn-group btn-group-justified" role="group">
                    <%= link_to '', "#", :onclick => "$('#question_form').submit()", class: "btn glyphicon glyphicon-minus-sign", style: "font-size:1.3em", :data => {:ans => "false"} %>
                    
                    <%= link_to '', "#", :onclick => "$('#question_form').submit()", class: "btn glyphicon glyphicon-plus-sign", style: "font-size:1.3em" %>
                    

                </div>
            </li>
        </ul>
    </nav> 
</footer>

<% end %>
