<h1>Edit</h1>

<div class="container">
                <div class="panel panel-default">
            <div class="panel-body">
    <%= form_for @user, html: { multipart: true } do |f| %>

        <div class="form-group">
            <label for="fname">Personal</label>
            <div class="row">
                <div class="col-xs-6">
                <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
                </div>

                <div class="col-xs-6">
                <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>    
                </div>
            </div>
            <small id="nameHelp" class="form-text text-muted">Other users will see this.</small>
        </div>
                
        <div class='form-group row'>
            <div class="col-sm-6">
            <%= f.label :Container_Count %>
            <%= f.date_field :birthday, class: "form-control", placeholder: "Container Count" %>
            </div>
        </div>
        
        <div class="form-group">
            <label for="userEmail">Email address</label>
            <div class="row">
                <div class="col-sm-12">
            <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
                </div>
            </div>
            <small id="emailHelp" class="form-text text-muted">Only those you like can see this.</small>
        </div>
    
        <div class="form-group row">
            <div class="col-sm-12">
                <%= f.label :About %>
                <%= f.text_area :about, class: "form-control", placeholder: "Tell us about your self.", rows: "3" %>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <%= f.submit "Change Account", class: "btn btn-primary" %>    
                </div>
            </div>
        </div>
    <% end %>
                    </div>
    </div>
</div>