<h2>Your Match</h2>


<% if @match %>
<div class="container">
    
    <%= render 'users/user_match', foundmatch: @match, percent: @percent %>
    
    <% @user.answers.each do |test|  %>
    
        <div class="row">
            <div class="col-sm-12">
                <%= test.id %>
                Question:<%= test.question_id %>
                User:<%= test.user_id %>
                <%= test.ans %>
            </div>
        </div>
    <% end %>
</div>
<% elsif %>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Opps, it seems like you are a weird one and so we have to super special calculations.</h4>
            <p>Keep answering questions!</p>
            
            <h6>Hopefully we can find a match for you. If not don't worry, you be weird and that is ok. Go buy a pet, they will love you unconditionally</h6>
        </div>    
    </div>

</div>
<% end %>