<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <%= image_tag @user.profile_image, size: "206x250", id: "profile_img" %>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <h2><%= @user.first_name if @user.first_name %><small>
                <%= @user.last_name if @user.last_name %>
            </small></h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <p>Gender: <%= @user.gender if @user.gender %></p>
            <p>Email: <%= @user.email if @user.email %></p>
            <p>Link: <%= link_to "FaceBook Link", @user.link%></p>
        </div>
    </div>
    
    <hr>
</div>

<footer class="footer">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">       
                <div class="btn-group btn-group-justified" role="group">
                    <%= link_to '', edit_user_path, class: "btn glyphicon glyphicon-heart", style: "font-size:1.3em", method: "get" %>
                    <%= link_to '', signout_path, class: "btn glyphicon glyphicon-log-out", style: "font-size:1.3em", method: "get" %>
                </div>
        </nav> 
</footer>