<div class="container">
<h3>User</h3>
<p>First Name: <%= @user.first_name if @user.first_name %></p>
<p>Last Name: <%= @user.last_name if @user.last_name %></p>

<p>Gender: <%= @user.gender if @user.gender %></p>
<p>Link: <%= @user.link if @user.link %></p>
<p>Email: <%= @user.email if @user.email %></p>

<p>Birthday: <%= @user.birthday if @user.birthday %></p>
<p>Test: <%= @user.profile_image if @user.profile_image %></p>

<%= image_tag @user.profile_image %>

<%= image_tag @user.profile_image, size: "206x250"%>

</div>