<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <%= image_tag @user.profile_image, size: "206x250", id: "profile_img" %>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h2><%= @user.first_name if @user.first_name %><small>
                        <%= @user.last_name if @user.last_name %>
                    </small></h2>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-xs-6">
                    <p><%= @user.gender if @user.gender %></p>
                </div>
                <div class="col-xs-6">
                    <p><%= @user.birthday if @user.birthday %></p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p>Email: <%= @user.email if @user.email %></p>
                    <p>Link: <%= link_to "FaceBook Link", @user.link%></p>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <h5>About</h5>
                    <p><%= @user.about if @user.about %></p>
                </div>
            </div>

            <hr>
        </div>
    </div>
</div>

<footer class="footer">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">       
                <div class="btn-group btn-group-justified" role="group">
                    <%= link_to '', edit_user_path, class: "btn glyphicon glyphicon-cog", style: "font-size:1.3em", method: "get" %>
                    <%= link_to '', signout_path, class: "btn glyphicon glyphicon-log-out", style: "font-size:1.3em", method: "get" %>
                </div>
        </nav> 
</footer>